<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="PostPage-styles.css">
</head>
<body>
    <div class="row">
        
        <div class="col-sm-12 col-md-12 post-title">
            Creation of New World
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="post-text col-sm-8 col-md-8">
                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                lorem ipsumlorem ipsum
                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                lorem ipsumlorem ipsum
                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                lorem ipsumlorem ipsum
        </div>
        <div class="col-sm-2 col-md-2 "></div>
    </div>
    <div class="row">
        <div class="col-md-3 "></div>
        <div class="col-md-6">
            <img src="Bootstrap-grid.png" class="post_img">
        </div>  
        <div class="col-md-3 "></div>
    </div>
    <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="post-text col-sm-8 col-md-8">
                
                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
                lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
            </div>
            <div class="col-sm-2 col-md-2 "></div>
    </div>
    <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-6">
                <img src="Bootstrap-grid.png" class="post_img">
            </div>  
            <div class="col-md-3 "></div>
    </div> 
</body>
</html>
