<link href="~/Content/Styles/ProfilePageStyle.css?20182020" rel="stylesheet" />
<div class="container-fluid">

                <div class="row profile-top">
                    <div class="col-sm-3 col-md-3 nickname">
                            @Model.Nickname
                    </div>        
                    <div class="bio-block col-sm-9 col-md-9">
                            <span class="v_middle">
                                <span class="bio">Bio</span>
                                <br/> @Model.Bio
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="postFeed">
                        <div class="row">
                            <div class="post">
                                <div class="col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-3">
                                            <div class="row rowforrating">
                                                <div class="col-sm-6 col-md-6" style="padding-left:0px">Rating<br/>504</div>
                                                <div class="col-sm-6 col-md-6">Views<br/>100000</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-md-9">
                                            <div class="row">
                                                <div class="post-title col-sm-12 col-md-12"> 
                                                    <a href=""> TItle of a blogPost and tags</a>
                                                </div>
                                                <hr/>
                                            </div>
                                            <div class="row tag-container">
                                                    <div class="tag"><a href="">tag1</a></div>
                                                    <div class="tag">tag2</div>
                                                    <div class="tag">tag3</div>
                                                    <div class="tag">tag4</div>
                                                    <div class="tag">tagsfsdfdsf5</div>
                                            </div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5"></div>
                    <button class="col-sm-2 col-md-2 button">LoadMore</button>
                    <div class="col-sm-5 col-md-5"></div>
                </div>       
    </div>
<script src="~/Content/Scripts/test/ProfilePageScript.js?20110530"></script>